# Discord bot environment variables
DISCORD_CLIENT_ID=
DISCORD_TOKEN=
MAX_RESPONSE_TIME=60000

# API / database environment variables
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# (Optional) Default guild ID for deploying slash commands
GUILD_ID=