# Discord bot environment variables
DISCORD_CLIENT_ID=
DISCORD_TOKEN=
MAX_RESPONSE_TIME=60000
# Database URL (if not using Docker Compose)
QUOTERER_GRAPHQL_ENDPOINT=http://localhost:8080/graphql

# Credentials for the PostgreSQL database, shared between the API and the database container.
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# (Optional) Default guild ID for deploying slash commands
DEV_GUILD_ID=